*{
    margin :0 ;
    padding : 0;
    
}
html{
    font-family: 'Cairo', sans-serif;
    font-weight: 800;
}

h1,h2{
    font-family: 'Poppins', sans-serif;
}

   

.app{
    background:url(./images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
      
}
.app__body{
    flex: 1;
   margin: 50px;
   min-width: 850px;
   min-height: 745px;
   background:white;
   position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;;
}